[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/calintat/minimal.git
[submodule "pdabholkar.github.io"]
	path = pdabholkar.github.io
	url = git@github.com:pdabholkar/pdabholkar.github.io.git
